/* minimal-reset */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}

* {
    --color-main : #6c5c91;
    --color-light : #ddd;
    --color-dark : #333;
    --color-success : #60d394;
    --color-alert : #ec4b40;
    --color-warning : #ffd97d;
    --color-info : #5aa9e6;
    --shadow-1 : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-2 : 0 14px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}

/* couleurs du thème sombre */
.dark-theme {
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* global */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-light);
    height: 100%;
    width: 100%;
}

button {
    box-shadow: var(--shadow-1);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

button:hover {
    box-shadow: var(--shadow-2);
    transform: scale(1.02);
}

/* header */
header {
    position: relative;
    display: flex;
    height: 4rem;
    align-items: center;
    margin: 2rem;
}

.titleText {
    font-size: 5rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--color-main);
    text-shadow: var(--shadow-2);
    ;
}

.titleIcon {
    height: 4rem;
    width: auto;
    margin-inline: 2rem;
    filter: drop-shadow(0 14px 28px rgba(0,0,0,0.25));
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.22));
}

/* launcher */
.launcher {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    margin-inline: 2rem;
}

.numberInputContainer,
.pointsSelection {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

/* Input nombre de joueurs */
/* enlever les flèches a droite du nombre */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* inutile car deja dans le reset-minimal mais utile si copie/colle sur autre projet */
/* .numberInputInput,
.numberInputInput * {
    box-sizing: border-box;
} */

/* aligner le bouton +, le nombre et le bouton - */
.numberInputInput {
    display: flex;
    align-items: center;
    justify-content: start;
}

.numberInputInput button {
    outline: none;
    -webkit-appearance: none;
    background-color: var(--color-light);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    padding: .8rem;
    position: relative;
    border-radius: 50%;
}

.numberInputInput input[type=number] {
    max-width: 5rem;
    padding: .5rem;
    border: none;
    border-width: 0 2px;
    font-size: 4rem;
    height: 4rem;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    color: var(--color-main);
}
/* Nombre de joueurs - fin */

.pointsInputContainer {
    display: flex;
    align-items: center;
    justify-content: start;
}

.pointsInputContainer label {
margin-inline-end: 2rem;
}

/* Nombre de points*/
input[type="radio"] {
    display: none;
    cursor: pointer;
}

input[type="radio"] + label {
    /* color: var(--color-dark); */
    opacity: .8;
}

input[type="radio"]:checked + label {
    color: var(--color-main);
    font-weight: bold;
    opacity: 1;
}

/* Nombre de points - fin */

.buttonLaunch {
    margin-inline: auto;
    margin-block: 2rem;
}

header button,
#themeSwitchButton,
.buttonLaunch button {
    color: var(--color-light);
    font-size: 2rem;
    padding-inline: 1rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

#start {
    margin-inline: 1rem;
    background: var(--color-main);
    background: linear-gradient(-45deg, #6c5c91, #907ad6, #dabfff);
    background-size: 600%;
    animation: anim-1 8s linear infinite;
}

#faq {
    position: absolute;
    width: 4rem;
    right: 0rem;
    font-size: 3rem;
    font-weight: bold;
    background: var(--color-info);
}

#reset {
    display: none;
    position: absolute;
    right: 6rem;
    background: var(--color-alert);
}




@keyframes anim-1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#currentPlayer {
    margin-inline: 2rem;
    margin-block: 0;
    font-size: 4rem;
    /* elipse sur le texte */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom {
    display: none;
    margin-inline: 2rem;
    margin-block: 2rem 0;
    /* passe en display grid via le JS */
    grid-template-columns: auto 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 0px; 
}

#cible {
    width: 700px;
    height: 700px;
}

#cible svg {
    height: 100%;
    width: auto;
}

#cible svg g {
    cursor: pointer;
}

#scoreBoard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
    font-size: 2rem;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.playerName {
    width: 100%;
    padding-inline: .5rem;
    text-align: center;
    /* elipse sur le texte */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playerScore {
    width: 100%;
    color: var(--color-main);
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

#historyList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.historyPlayerName {
    font-weight: bold;
    color: var(--color-main);
    text-align: center;
    /* elipse sur le texte */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#historyList li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-main);
    border-radius: 1rem;
    padding: .5rem;
}

.groupeLancer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-block: .2rem;
}

.groupeLancer span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modifyButton {
    height: 1.5rem;
    width: 1.5rem;
    /* border-radius: 50%; */
    border: none;
    cursor: pointer;
    background-color: transparent;
    box-shadow: unset;
    transition: unset;
}

.modifyButton:hover {
    box-shadow: unset;
    transform: unset;
}


.modifyButton img {
    height: 65%;
}

.undoButton{
    display: none;
    color: var(--color-light);
    font-size: 2rem;
    padding-inline: 1rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: orange;
}



.restartButton {
    background: var(--color-main);
}

.resetButton {
    background: var(--color-alert);
}



.playerNameSelectionGroup {
    position: relative;
}

.playerNameSelectionGroup input {
    padding: .5rem;
    text-align: left;
    font-size: 2rem;
    margin-block: 1rem;
    border: none;
    border-bottom: 2px solid var(--color-main);
    outline: none;
    background: transparent;
}

/* .playerNameSelectionGroup label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 2rem;
    pointer-events: none;
    transition: .5s;
} */

/* .playerNameSelectionGroup input:focus ~ label,
.playerNameSelectionGroup input:valid ~ label {
    top: 10px;
    left: 15px;
    color: var(--color-main);
    font-size: 1rem;
} */

#playerNameSelectionButton {
    background-color: var(--color-main);
    margin-block: 1rem;
}

/* POPUP */
.popup,
.playerNameSelectionPopup,
.faqPopup,
.scorePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000;
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 1rem;
    border-radius: 1rem;
}

.popup p {
    margin-block: 1rem;
    font-size: 2rem;
}

.popup button,
.playerNameSelectionPopup button {
    color: var(--color-light);
    font-size: 2rem;
    padding-inline: 1rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-inline: 1rem;
    background-size: 600%;
}

/* A l'ouverture de la fenêtre modale, le fond de la page se grise */
.popup-open {
    overflow: hidden;
    position: relative;
}
.popup-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.closePopup {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    background-color: var(--color-main);
    color: var(--color-light);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.closePopup:hover {
    transform: unset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* POPUP JOUEUR */
.playerNameSelectionPopup {
    display: flex;
}

/* POPUP FAQ */
.faqPopupContent {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.faqPopupContent h2{
    color: var(--color-main);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-block: 1rem;
    margin-inline: auto; /* pour centrer le titre */
}color-alert
.faqPopupContent h3{
    margin-block: 1rem;
    font-weight: bold;
}
.faqPopupContent h3:before{
    content: "• ";
    color: var(--color-main);
    font-weight: bold;
}
.faqPopupContent p{
    text-align: start;
}
.buttonFaq {
    text-transform: uppercase;
    font-weight: bold;
}

/* POPUP MAJ SCORE */
.scoreGroup {
margin-block: 1rem;
}

.scoreGroup button {
    color: var(--color-light);
    background-color: var(--color-main);
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: .2rem;
}



/* bouton changement thème */
#themeSwitchButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: var(--color-main);
    background-color: hsla(0, 0%, 50%, 0.2);
    z-index: 1001;
}



/* responsive */
@media screen and (max-width: 1240px) {
    .bottom {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}